body
{
    background-color: rgb(119, 189, 255) !important;
}

.mainpicture {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .title {
    position: absolute;
    top: 15%;
    left: 20%;
    color:rgb(13, 102, 13);
    font-size: 80px;
  }
#welcome{
    font-size: 60px;
}
.title2{
    text-align: center;
    color: rgb(128, 0, 96)
    font-size: 50px;
}
h4{
    color: maroon
}
/* .beginning{ 
    margin-bottom: 10px;
}*/
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 65%;
    width:90%;
  }

  .content {
    max-width: 900px;
    margin: auto;
    background: rgb(255, 255, 255);
    padding: 10px;
  }
li{
    display: inline;
}
h1{
    margin-right: auto;
    margin-left: auto;
}
#quote{
    text-align: center;

}
#intro{
    text-align: center;
}